body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    color: pink;
}

main, nav {
    width: 800px;
    margin: 0auto;
    padding: 0 12px;
}

header, footer {
    background-color: navy;
    padding: 24px 0;
}

.sidebar_menu {
    text-align: right;
}

nav{
    display: flex;
}

.logo, .link {
    color: white;
}

.logo, .link {
    margin-right: auto;

}

p {
    color: magenta;
}

.link{
    margin: 0 4px
}

footer {
    color: white;
    text-align: center;
    margin-top: auto;
}
